<div class="container text-center d-flex m-5">
  <div class="card">
    <div class="card-body">
      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.category %></p>
      <p><%= @restaurant.phone_number %></p>
      <h4><strong>Reviews</strong></h4>
      <div class="card-text">
        <% @restaurant.reviews.each do |review| %>
          <p class=""><%= review.content %> <br>
           <%= review.rating %></p>
        <% end %>
      </div>
     <div class="form">
  <%= simple_form_for [@restaurant, @review] do |f|%>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.button :submit %>
  <% end %>
</div>
      <%= link_to "Back", restaurants_path, class:"btn btn-secondary m-3" %>
    </div>
  </div>
</div>
